body{
    margin: 0;
    background-color: #000000;
}

header{
    width: 100%;
    height: 80px;
    color: white;
    background-color: rgba(255, 254, 254, 0.071);
    display: flex;
    justify-content: center;
    align-items: end;
}

#main_container{
    width: 100%;
    height: calc(100vh -80px);
    display: flex;
}

.img_container{
    width: 100%;
    height: 200px;
}

.img_container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center bottom;
}

#content_container{
    height: 100vh;
    flex: 1;
}

.logo_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 250px;
    margin: -141px 0;
}


.container1{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
}

.container2{
    width: 100%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.533);
    color: white;
}

.container3{
    width: 100%;
    height: 300px;
}

.container3 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.container4{
    color: white;
    font-size: 10px;
}





#render_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dishes_box{
    width: 95%;
    height: 200px;
    background-color: gray;
    margin-bottom: 12px;
}







#sticky_basket{
    position: sticky;
    top: 0;
    width: 250px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.571);
}

.basket_headline{
    border: 1px solid white;
}

.hidden_info{
    color: black;
}

footer{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 254, 254, 0.071);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}